html,
body {
  padding: 0;
  margin: 0;
  font-family: 'MyFont', -apple-system,BlinkMacSystemFont,Apple Color Emoji,SF Pro,SF Pro Icons,Helvetica Neue,Helvetica,Arial,sans-serif;
}

a {
  color: inherit;
  font-family: 'MyFont', -apple-system,BlinkMacSystemFont,Apple Color Emoji,SF Pro,SF Pro Icons,Helvetica Neue,Helvetica,Arial,sans-serif;
  text-decoration: none;
}

* {
  font-family: 'MyFont', -apple-system,BlinkMacSystemFont,Apple Color Emoji,SF Pro,SF Pro Icons,Helvetica Neue,Helvetica,Arial,sans-serif;
  box-sizing: border-box;
}

.slick-current {
  z-index: 1;
}